<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Meu blog</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        {{!-- Dropdown --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#if categories}}
            {{#each categories}}
              <a class="dropdown-item" href="/categoria/{{slug}}">{{nome}}</a>
            {{/each}}
            {{else}}
              <a class="dropdown-item" href="#">Nenhuma categoria</a>
            {{/if}}

          </div>
        </li>
        {{!-- Dropdown --}}

      </ul>
      <form class="d-flex">
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/login">Entrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/registro">Registrar</a>
        </li>
      </form>
    </div>
  </div>
</nav>